<!-- app/views/profiles/_edit_modal.html.erb -->
<%= turbo_frame_tag "profile_edit_modal" do %>
  <dialog id="profile_edit_modal_dialog" class="modal bg-gray-500 bg-opacity-50" data-controller="profile-edit-modal">
    <div class="modal-box p-2">
      <div class="flex justify-end items-center">
        <button class="text-blue-500 hover:text-blue-700 font-semibold" data-action="click->profile-edit-modal#closeModal">閉じる</button>
      </div>
      <h1 class="text-4xl font-bold mt-4 mb-4 text-center"><%= t('profiles.edit.title') %></h1>
      <div id="profile_edit_modal_flash">
        <%= render 'shared/flash_message' %>
      </div>
      <div id="before_profile_edit_flash_modal">
        <%= render 'shared/before_profile_edit_flash' %>
      </div>
      <%= form_with model: @user, url: profile_path, method: :patch, data: { controller: "profile-edit-modal", action: "turbo:submit-end->profile-edit-modal#submitEnd" } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="card-body mx-auto p-2">
          <div class="form-control">
            <label for="user_avatar" class="cursor-pointer label-text text-lg font-semibold mb-2">プロフィール画像</label>
            <div class="mt-1 p-2 text-lg border-2 border-gray-300 rounded-lg">
              <%= f.file_field :avatar, id: "user_avatar", accept: "image/jpeg,image/gif,image/png", class: "hidden" %>
              <span class="file-upload-label bg-gray-200 text-gray-700 p-2 rounded cursor-pointer" onclick="document.getElementById('user_avatar').click()">ファイルを選択</span>
              <br class="block sm:hidden mb-2">
              <span id="file-name" class="file-name text-gray-600 sm:ml-2">選択されていません</span>
              <img id="preview-avatar" src="<%= @user.avatar.attached? ? url_for(@user.avatar) : asset_path('sample.jpg') %>" class="mt-4 rounded-full mx-auto my-2 border w-32 h-32">
            </div>
          </div>

          <div class="form-control">
            <%= f.label :display_name, '名前', class: "label-text text-lg font-semibold mb-1", for: "user_display_name" %>
            <%= f.text_field :display_name, id: "user_display_name", class: "input-style", placeholder: "ウェーブ登録#{@user.id}", value: (@user.display_name if @user.display_name.present? && @user.display_name != "ウェーブ登録#{@user.id}") %>
          </div>

          <div class="form-control mt-2">
            <%= f.label :username_slug, 'ユーザー名', class: "label-text text-lg font-semibold mb-1", for: "user_username_slug" %>
            <%= f.text_field :username_slug, id: "user_username_slug", class: "input-style" %>
          </div>

          <div class="form-control mt-2">
            <%= f.label :self_introduction, '自己紹介', class: "label-text text-lg font-semibold mb-1", for: "user_self_introduction" %>
            <%= f.text_area :self_introduction, id: "user_self_introduction", class: "input-style", rows: "8", style: "resize: vertical;", data: { action: "input->profile-edit-modal#adjustHeight" } %>
          </div>

          <div class="form-control mt-4 lg:mt-6">
            <%= f.submit "プロファイル更新", class: "btn btn-primary text-lg w-full" %>
          </div>
        </div>
      <% end %>

      <div class="modal-action my-4 flex justify-center">
        <button class="btn bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded" data-action="click->profile-edit-modal#closeModal">閉じる</button>
      </div>
    </div>
  </dialog>
<% end %>
