<div id="flash_messages_show"></div>
<div class="mb-2 flex mx-auto items-stretch">
  <!-- 左側のダミー要素 -->
  <div class="pl-[10px] sm:min-w-[150px]">
    <% if current_user == @user %>
      <div class="invisible">
        <%= link_to "編集する", "#", class: 'text-lg sm:text-xl btn btn-outline btn-secondary' %>
      </div>
    <% else %>
      <div class="invisible">
        <%= button_to 'ダミー', "#", class: "w-[115px] btn-following btn-unfollow-hover" %>
      </div>
    <% end %>
  </div>

  <!-- アバター画像 -->
  <div class="flex justify-center flex-grow items-center">
    <%= link_to profile_show_path(username_slug: @user.username_slug), data: { turbo_frame: "_top" } do %>
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: "rounded-full object-cover h-[77px] w-[77px] sm:h-[180px] sm:w-[180px]" %>
      <% else %>
        <%= image_tag asset_path('wave_sm_c.svg'), class: "rounded-full object-cover h-[77px] w-[77px] sm:h-[180px] sm:w-[180px]" %>
      <% end %>
    <% end %>
  </div>

  <!-- 編集ボタン or フォローボタン -->
  <div class="flex flex-grow-0 justify-end items-end">
    <table class="min-w-[115px]">
      <tr>
        <td>
          <% if current_user == @user %>
            <%= link_to "自分へ",
                new_post_path(privacy: 'only_me'),
                class: "mb-2 text-white font-bold text-lg sm:text-xl btn btn-info rounded-full transition-colors duration-300",
                data: { turbo_frame: "post_modal" } %>
          <% else %>
            <div id="send-message">
              <% if current_user.following?(@user) %>
                <%= link_to "あなたへ",
                    new_post_path(privacy: 'selected_users', selected_user_ids: [@user.id]),
                    class: "mb-2 text-white font-bold text-lg sm:text-xl btn btn-info rounded-full transition-colors duration-300",
                    data: { turbo_frame: "post_modal" } %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mr-2 sm:mr-5">
            <% if current_user == @user %>
              <%= link_to "編集する", edit_profile_path, class: 'text-lg sm:text-xl btn btn-outline btn-secondary rounded-full',
                  data: { turbo_frame: "profile_edit_modal" } %>
            <% else %>
              <div id="user-<%= @user.id %>-follow">
                <%= render partial: 'users/follow_button', locals: { user: @user } %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<!-- ユーザー名-->
<div class="mb-2 flex flex-col justify-center items-center">
  <%= link_to @user.display_name, profile_show_path(username_slug: @user.username_slug), data: { turbo_frame: "_top" }, class: "text-lg font-semibold" %>
  <%= link_to "@#{@user.username_slug}", profile_show_path(username_slug: @user.username_slug), data: { turbo_frame: "_top" }, class: "text-gray-500" %>
</div>
<!-- 自己紹介 -->
<div class="flex flex-col items-center mx-auto px-2 sm:px-5">
  <div class="p-2 text-base sm:text-lg overflow-y-auto max-h-[calc(1.5rem*10)] md:max-h-[calc(1.5rem*15)]">
    <%# 連続する改行に特別なクラスを適用する %>
    <% if @user.self_introduction.present? %>
      <% @user.self_introduction.split(/\r\n|\r|\n/).each do |line| %>
        <% if line.empty? %>
          <div class="text-xxs sm:text-xs">
            <br>
          </div>
        <% else %>
          <div class="text-base sm:text-lg">
            <%= line %><br>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>自己紹介文はありません。</p>
    <% end %>
  </div>
</div>
<!-- フォロー中とフォロワーのリンク -->
<% if current_user == @user %>
  <div class="mt-4 flex justify-center space-x-4">
    <%= link_to "フォロー中 #{@user.followings.count}", followings_user_friendships_path(@user, category: 'followings'), class: "text-lg text-blue-500 hover:underline", data: { turbo_frame: "_top" } %>
    <%= link_to "フォロワー #{@user.followers.count}", followers_user_friendships_path(@user, category: 'followers'), class: "text-lg text-blue-500 hover:underline", data: { turbo_frame: "_top" } %>
  </div>
<% end %>
