<%= turbo_frame_tag 'post_edit_modal' %>
<%= turbo_frame_tag "profile_edit_modal" %>
<%= turbo_frame_tag 'profile_modal' %>
<%= turbo_frame_tag 'reply_modal' %>
<% content_for(:title, t('.title')) %>
<div class="flex justify-center min-h-screen">
  <div class="max-w-[674px] w-full bg-white border-2 border-gray-200">
    <h1 class="text-4xl font-bold mt-4 mb-8 text-center"><%= t('.title') %></h1>

    <%= render 'profiles/profile_info', user: @user %>

    <!-- カテゴリータブ -->
    <div id="category-tabs-wrapper">
      <div id="category-tabs" class="z-50">
        <% initial_category = current_user == @user ? 'all_my_posts' : 'my_posts_open' %>
        <% if current_user == @user %>
          <div class="overflow-x-auto">
            <table class="min-w-full whitespace-nowrap">
              <tr class="">
                <td colspan="3" class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'all_my_posts'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-blue-400 #{active_tab_class('all_my_posts', 'only_me', 'my_posts_following', 'my_posts_open', initial_category: initial_category)} hover:text-blue-500" do %>
                    <i class="fas fa-wave mr-1 sm:mr-2"></i><span>私のウェーブ</span>
                  <% end %>
                </td>
                <td rowspan="2" class="c-tabs">
                <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'posts_to_you'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-orange-400 #{active_tab_class('posts_to_you', initial_category: initial_category)} hover:text-orange-400" do %>
                    <i class="fa-regular fa-envelope mr-1 sm:mr-2"></i><span>仲間から</span>
                  <% end %>
                </td>
                <td colspan="2" class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'all_likes_chance'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-pink-200-accent #{active_tab_class('all_likes_chance', 'my_likes_chance', 'public_likes_chance', initial_category: initial_category)} hover:text-pink-400-accent" do %>
                    <i class="fa-solid fa-handshake-angle mr-1 sm:mr-2"></i><span>いいねチャンス</span>
                  <% end %>
                </td>
                <td rowspan="2" class="c-tabs">
                <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'liked'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-red-400 #{active_tab_class('liked', initial_category: initial_category)} hover:text-red-500" do %>
                    <i class="fa-solid fa-hand-holding-heart mr-1 sm:mr-2"></i><span>いいね</span>
                  <% end %>
                </td>
                <td rowspan="2" class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'bookmarked'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-yellow-400-accent #{active_tab_class('bookmarked', initial_category: initial_category)} hover:text-yellow-700-accent" do %>
                    <i class="fas fa-bookmark mr-1 sm:mr-2"></i><span>お気に入り</span>
                  <% end %>
                </td>
              </tr>
              <tr class="">
                <td class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'only_me'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-blue-400 #{active_tab_class('only_me', initial_category: initial_category)} hover:text-blue-500" do %>
                    <i class="fas fa-user mr-1 sm:mr-2"></i><span>自分へ</span>
                  <% end %>
                </td>
                <td class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'my_posts_following'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-blue-400 #{active_tab_class('my_posts_following', initial_category: initial_category)} hover:text-blue-500" do %>
                    <i class="fa-regular fa-handshake mr-1 sm:mr-2"></i><span>仲間へ</span>
                  <% end %>
                </td>
                <td class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'my_posts_open'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-blue-400 #{active_tab_class('my_posts_open', initial_category: initial_category)} hover:text-blue-500" do %>
                    <i class="fas fa-globe mr-1 sm:mr-2"></i><span>みんなへ</span>
                  <% end %>
                </td>
                <td class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'my_likes_chance'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-pink-200-accent #{active_tab_class('my_likes_chance', initial_category: initial_category)} hover:text-pink-400-accent" do %>
                    <i class="fas fa-user-check mr-1 sm:mr-2"></i><span>自分の</span>
                  <% end %>
                </td>
                <td class="c-tabs">
                  <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'public_likes_chance'), data: { turbo_frame: "posts", turbo_action: "advance" },
                      class: "c-tab text-pink-200-accent #{active_tab_class('public_likes_chance', initial_category: initial_category)} hover:text-pink-400-accent" do %>
                    <i class="fas fa-users mr-1 sm:mr-2"></i><span>みんなの</span>
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
        <% else %>
          <div class="c-tabs flex overflow-x-auto whitespace-nowrap">
            <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'my_posts_open'), data: { turbo_frame: "posts", turbo_action: "advance" },
                class: "c-tab text-blue-400 #{active_tab_class('my_posts_open', initial_category: initial_category)} hover:text-blue-500" do %>
              <i class="fas fa-globe mr-1 sm:mr-2"></i> みんなへ
            <% end %>
            <%= link_to profile_show_path(username_slug: @user.username_slug, category: 'shared_with_you'), data: { turbo_frame: "posts", turbo_action: "advance" },
                class: "c-tab text-blue-400 #{active_tab_class('shared_with_you', initial_category: initial_category)} hover:text-blue-500" do %>
              <i class="fas fa-share-alt mr-1 sm:mr-2"></i> あなたと共有
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- 投稿一覧 -->
    <% if @posts.present? %>
      <%= turbo_frame_tag "next-page" do %>
        <% @posts.each do |post| %>
          <% post_notifications = (@notifications || []).select { |notification| notification.notifiable == post } %>
          <%= render 'posts/post', post: post, notifications: post_notifications %>
        <% end %>
        <% if @pagy.next %>
          <%= render 'shared/next_page' %>
        <% end %>
      <% end %>
    <% else %>
      <div class="mb-3">投稿がありません</div>
    <% end %>
  </div>
</div>

<script>
  function handleNavbarOpacity() {
    var navbar = document.getElementById('bottom-navbar');
    var lastScrollTop = 0;

    window.addEventListener('scroll', function () {
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // スクロールダウン
        navbar.style.opacity = '0.5';
      } else {
        // スクロールアップ
        navbar.style.opacity = '1';
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
  }

  function handleCategoryTabs() {
    var categoryTabsWrapper = document.getElementById('category-tabs-wrapper');
    var categoryTabs = document.getElementById('category-tabs');
    var categoryTabsOffsetTop = categoryTabsWrapper.offsetTop;

    window.addEventListener('scroll', function () {
      if (window.pageYOffset > categoryTabsOffsetTop) {
        categoryTabsWrapper.style.height = categoryTabs.offsetHeight + 'px';
        categoryTabs.classList.add('fixed', 'top-0', 'left-0', 'w-full', 'bg-white', 'shadow-md', 'z-10');
      } else {
        categoryTabsWrapper.style.height = 'auto';
        categoryTabs.classList.remove('fixed', 'top-0', 'left-0', 'w-full', 'bg-white', 'shadow-md', 'z-10');
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    handleNavbarOpacity();
    handleCategoryTabs();
  });

  document.addEventListener('turbo:load', function () {
    handleNavbarOpacity();
    handleCategoryTabs();
  });
</script>
