<%= form_with(model: @user, url: profile_path, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username_slug %>
    <%= f.text_field :username_slug %>
  </div>

  <!-- その他のプロフィールフィールド -->

  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
