<% content_for(:title, t('.title')) %>
<div class="flex justify-center min-h-screen p-5">
  <div class="max-w-xl w-full bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mt-4 mb-8 text-center">
      <%= t('.title') %>
    </h1>
    <%= form_with model: @user, url: profile_path, method: :patch do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="card-body mx-auto">
        <div class="form-group">
          <%= f.label :avatar, class: 'block text-sm font-medium text-gray-700' %>
          <%= f.file_field :avatar, onchange: 'previewFileWithId("preview-avatar")', class: 'input-style w-full', accept: 'image/*' %>
          <%= f.hidden_field :avatar_cache %>
          <img id="preview-avatar" src="#" alt="your image" class="hidden mt-2 max-w-xs max-h-xs rounded" />
        </div>

        <div class="form-control">
          <%= f.label :display_name, '名前', class: "label-text text-lg font-semibold mb-1" %>
          <%= f.text_field :display_name, class: "input-style" %>
        </div>

        <div class="form-control mt-2">
          <%= f.label :username_slug, 'ユーザー名', class: "label-text text-lg font-semibold mb-1" %>
          <%= f.text_field :username_slug, class: "input-style" %>
        </div>

        <div class="form-control mt-2">
          <%= f.label :self_introduction, '自己紹介', class: "block text-lg font-semibold mb-1", for: "self_introduction" %>
          <%= f.text_area :self_introduction, id: 'self_introduction', class: "input-style", rows: "8", style: "resize: vertical;" %>
        </div>
        
        <div class="form-control mt-4 lg:mt-6">
          <%= f.submit "プロファイル更新", class: "btn btn-primary text-lg w-full" %>
        </div>
      </div>
    <% end %>

  </div>

</div>

<script>
  // プレビュー機能
  function previewFileWithId(previewId) {
    var file = document.querySelector('input[type=file]').files[0];
    var preview = document.getElementById(previewId);
    var reader = new FileReader();

    reader.onloadend = function() {
      preview.src = reader.result;
      preview.classList.remove('hidden');
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
      preview.classList.add('hidden');
    }
  }

  // 自動リサイズのテキストエリア
  window.onload = function() {
  const textarea = document.getElementById('self_introduction');
  if (textarea) {
    adjustTextareaHeight(textarea);
  }
};

function adjustTextareaHeight(textarea) {
  textarea.style.height = 'auto'; // Reset height to ensure proper adjustment
  textarea.style.height = textarea.scrollHeight + 'px'; // Set new height based on content
}


</script>