<% content_for(:title, t('.title')) %>
<div class="flex justify-center min-h-screen p-5">
  <div class="max-w-xl w-full bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mt-4 mb-8 text-center"><%= t('.title') %></h1>
    <div class="mb-2 flex mx-auto items-stretch ">
      <!-- 左側のダミー要素 -->
      <div class="<%= 'invisible' unless current_user == @user %>">
        <%= link_to "編集する", edit_profile_path, class: 'ml-2 sm:ml-5 btn btn-outline btn-secondary invisible' %>
      </div>

      <!-- アバター画像 -->
      <div class="flex justify-center flex-grow items-center">
        <%= image_tag("sample.jpg", alt: "ユーザーアバター", class: "rounded-full h-24 w-24 sm:h-30 sm:w-30 md:h-35 md:w-35") %>
      </div>

      <!-- 編集ボタン -->
      <div class="flex flex-grow-0 justify-end items-end">
        <% if current_user == @user %>
          <%= link_to "編集する", edit_profile_path, class: 'mr-2 sm:mr-5 btn btn-outline btn-secondary' %>
        <% else %>
          <div class="invisible">
            <%= link_to "編集する", edit_profile_path, class: 'btn btn-outline btn-secondary invisible' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ユーザー名-->
    <div class="mb-2 flex flex-col justify-center items-center">
      <h1 class="text-lg font-semibold"><%= @user.display_name %></h1>
      <p class="text-gray-500">@<%= @user.username_slug %></p>
    </div>
    <!-- 自己紹介 -->
    <div class="flex flex-col items-center mx-auto px-20">
      <div class="p-2 border-2 border-gray-200 rounded text-sm sm:text-lg overflow-y-auto max-h-[calc(1.5rem*10)] md:max-h-[calc(1.5rem*15)]">
        <%# 連続する改行に特別なクラスを適用する %>
        <% if @user.self_introduction.present? %>
          <% @user.self_introduction.split(/\r\n|\r|\n/).each do |line| %>
            <% if line.empty? %>
              <div class="text-xxs sm:text-xs"> <!-- 空白行用のスタイル -->
                <br>
              </div>
            <% else %>
              <div class="text-sm sm:text-lg"> <!-- 通常の行用のスタイル -->
                <%= line %><br>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <p>自己紹介文はありません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
