<% content_for(:title, t('.title')) %>

<div class="p-5">
  <div class="max-w-xl w-full bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mt-4 mb-8 text-center"><%= t('.title') %></h1>
    
    <div class="flex">
      <div>
        01
      </div>
      <div class="grow h-14 flex justify-center">
        02
      </div>
      <div class="flex-none">
        03
      </div>
    </div>
    
      <div class="mt-2 flex mx-auto items-stretch ">
  <!-- 左側のダミー要素 -->
  <div class="<%= 'invisible' unless current_user == @user %>">
    <%= link_to "編集する", edit_profile_path, class: 'btn btn-outline btn-secondary invisible' %>
  </div>

  <!-- アバター画像 -->
  <div class="flex justify-center flex-grow items-center">
    <%= image_tag(@user.avatar.presence || "sample.jpg", alt: "ユーザーアバター", class: "rounded-full h-20 w-20 sm:h-30 sm:w-30 md:h-35 md:w-35") %>
  </div>

  <!-- 編集ボタン -->
  <div class="flex flex-grow-0 justify-end items-end">
    <% if current_user == @user %>
      <%= link_to "編集する", edit_profile_path, class: 'btn btn-outline btn-secondary' %>
    <% else %>
      <div class="invisible">
        <%= link_to "編集する", edit_profile_path, class: 'btn btn-outline btn-secondary invisible' %>
      </div>
    <% end %>
  </div>
</div>



      <!-- ユーザー名と編集ボタン -->
      
        <div>

        </div>
        <div>
          <h1 class="text-lg font-semibold"><%= @user.display_name %></h1>
          <p class="text-gray-500">@<%= @user.username_slug %></p>
        </div>

        

      <!-- 自己紹介 -->
      <div class="bg-white p-4 w-full rounded-lg shadow mt-4 text-center">
        <p><%= @user.self_introduction %></p>
      </div>
    
  </div>
</div>
