<!-- app/views/replies/_reply.html.erb -->
<div id="reply-<%= reply.id %>" class="p-4 bg-gray-100 rounded-lg mb-2">
  <div class="flex items-center mb-2">
    <%= image_tag(reply.user.avatar.presence || asset_path('sample.jpg'), class: 'rounded-full h-8 w-8') %>
    <div class="ml-2">
      <span class="font-bold"><%= reply.user.display_name %></span>
      <span class="text-gray-500 text-sm">@<%= reply.user.username_slug %></span>
      <span class="text-gray-500 text-sm">・<%= l reply.created_at, format: :short %></span>
    </div>
  </div>
  <div>
    <%= simple_format(reply.body) %>
  </div>
</div>
