<% if @reply.errors.any? %>
  <%= turbo_stream.update "flash" do %>
    <%= render 'shared/flash_message' %>
  <% end %>
  <%= turbo_stream.update "error_messages" do %>
    <%= render 'shared/error_messages', object: @reply %>
  <% end %>
<% else %>
  <%= turbo_stream.append "replies" do %>
    <%= render 'posts/post_content', post: @reply %>
  <% end %>
  <%= turbo_stream.replace "new_reply" do %>
    <%= render 'replies/form', post: @post, reply: Post.new %>
  <% end %>
  <%= turbo_stream.replace "post-#{@post.id}-reply-icon" do %>
    <%= render partial: 'posts/reply_icon', locals: { post: @post } %>
  <% end %>
  <%= turbo_stream.update "flash" do %>
    <%= render 'shared/flash_message' %>
  <% end %>
  <%= turbo_stream.update "post-#{@post.id}-reply-line" do %>
    <div class="absolute left-1/2 transform -translate-x-1/2 top-[calc(3rem)] md:top-[calc(4.5rem)] bottom-0 w-0.5 bg-blue-500"></div>
  <% end %>
<% end %>
