<div class="mb-2 mr-5">
  <% if post.audio.attached? %>
    <audio id="audio-<%= post.id %>" preload="metadata" controls>
      <source src="<%= url_for(post.audio) %>" type="<%= post.audio.content_type %>">
      お使いのブラウザはオーディオプレイヤーをサポートしていません。
    </audio>
    <div class="flex justify-between">
      <div id="current-time-<%= post.id %>">00:00</div>
      <div>
        <% duration_minutes = post.duration.to_i / 60 %>
        <% duration_seconds = post.duration.to_i % 60 %>
        <%= format('%02d:%02d', duration_minutes, duration_seconds) %>
      </div>
    </div>
    <div class="cursor-pointer text-center text-blue-500 hover:text-sky-400-accent"
         data-audio-target="playButton"
         data-action="click->audio#playPause" data-audio-id="<%= post.id %>">
      <button class="mt-2 play-audio-button transition duration-300 ease-in-out transform hover:scale-110">
        <i id="audio-icon-<%= post.id %>" class="fas fa-play audio-icon text-3xl md:text-4xl"></i>
      </button>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const audioElements = document.querySelectorAll("audio");

    audioElements.forEach(audio => {
      const source = audio.querySelector("source");
      const canPlay = audio.canPlayType(source.type);

      if (canPlay === "") {
        console.error(`Cannot play type: ${source.type}`);
        // ソースタイプを変更する（例: video/mp4 -> audio/mp4）
        source.type = "audio/mp4";
        const newCanPlay = audio.canPlayType(source.type);

        if (newCanPlay === "") {
          console.error(`Cannot play type: ${source.type}`);
        } else {
          console.log(`Changed type to: ${source.type}`);
        }
      } else {
        console.log(`Can play type: ${source.type}`);
      }
    });
  });
</script>
