<%= form_with model: @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="card w-full max-w-md shadow-2xl bg-base-100 p-8 mx-auto">
    <div class="form-control mt-2">
      <%= f.label :email, 'メールアドレス', class: "label-text mb-1" %>
      <%= f.email_field :email, placeholder: "email@example.com", class: "input input-bordered text-lg", required: true, autocomplete: "email" %>
    </div>
    <div class="form-control mt-2">
      <%= f.label :password, 'パスワード', class: "label-text mb-1" %>
      <%= f.password_field :password, placeholder: "password", class: "input input-bordered text-lg", required: true, autocomplete: "password" %>
    </div>
    <div class="form-control mt-2">
      <%= f.label :password_confirmation, 'パスワード確認', class: "label-text mb-1" %>
      <%= f.password_field :password_confirmation, placeholder: "password", class: "input input-bordered text-lg", required: true, autocomplete: "password" %>
    </div>
    <div class="form-control mt-4 lg:mt-6">
      <%= f.submit "登録", class: "btn btn-primary w-full" %>
    </div>
  </div>
<% end %>
