<div class="user-item flex flex-col items-start hover:bg-sky-100 px-2">
  <div class="flex items-center w-full">
    <%= link_to profile_show_path(username_slug: user.username_slug), data: { turbo_frame: "_top" }, class: "flex items-center no-underline flex-shrink-0 hover:underline" do %>
      <%= image_tag(user.avatar.presence || asset_path('wave_sm_c.svg'), alt: "プロフィール画像", class: "rounded-full h-[40px] w-[40px] flex-shrink-0") %>
    <% end %>
    <div class="ml-2 flex-1 overflow-hidden">
      <h3 class="text-md font-semibold truncate">
        <%= link_to user.display_name, profile_show_path(username_slug: user.username_slug), data: { turbo_frame: "_top" }, class: "no-underline text-inherit hover:underline" %>
      </h3>
      <p class="text-gray-500 truncate">
        <%= link_to "@#{user.username_slug}", profile_show_path(username_slug: user.username_slug), data: { turbo_frame: "_top" }, class: "no-underline text-inherit hover:underline" %>
      </p>
    </div>
    <%= link_to "フォ（未）", "#", class: "btn-follow flex-shrink-0 z-10", onclick: "event.stopPropagation();" %>
  </div>
  <div class="w-full p-2 text-base sm:text-md overflow-y-auto max-h-[calc(1.5rem*3)]">
    <% if user.self_introduction.present? %>
      <% user.self_introduction.split(/\r\n|\r|\n/).each_with_index do |line, index| %>
        <% if line.empty? %>
          <div class="text-xxs sm:text-xs">
            <br>
          </div>
        <% else %>
          <div class="text-base sm:text-md">
            <%= line %><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
