<% before_profile_edit_flash.each do |message_type, message| %>
  <div class="p-2 mx-2">
    <div class="<%= flash_class(message_type) %> my-2 rounded-lg text-lg" role="alert">
      <span><%= message.html_safe %></span>
    </div>
    <div class="bg-gray-100 p-2 rounded-lg mt-2">
      <p class="text-lg hidden md:block">
        <strong>プロフィールの編集</strong>は、<strong>プロフィールページ</strong>でいつでも行えます。<br>
        <strong>プロフィールページ</strong>は、画面右上のアイコンの
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「プロフィール」
        </a>
        の項目、または、画面左側に表示されているサイドバーの
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「自分のアイコン」
        </a>
        や
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「プロフィール」
        </a>
        の項目より、表示できます。
      </p>
      <p class="text-lg hidden sm:block md:hidden">
        <strong>プロフィールの編集</strong>は、<strong>プロフィールページ</strong>でいつでも行えます。<br>
        <strong>プロフィールページ</strong>は、画面右上のアイコンの
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「プロフィール」
        </a>
        の項目、または、画面を横に広げることで表示されたサイドバーの
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「自分のアイコン」
        </a>
        や
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「プロフィール」
        </a>
        の項目より、表示できます。
      </p>
      <p class="text-lg sm:hidden">
        <strong>プロフィールの編集</strong>は、<strong>プロフィールページ</strong>でいつでも行えます。<br>
        <strong>プロフィールページ</strong>は、画面右上のアイコンの
        <a href="<%= profile_show_path(current_user.username_slug) %>" class="text-xl font-semibold text-blue-500 hover:text-blue-700 underline" data: { turbo_frame: "_top" }>
          「プロフィール」
        </a>
        の項目より、表示できます。
      </p>
    </div>
  </div>
<% end %>
