<div class="navbar mx-auto">
  <div class="flex justify-between items-center w-full">
    <div class="flex-0.2 px-4">
      <%= link_to '/' do %>
        <%= image_tag 'logo.png', alt: 'ロゴのタイトル', class: "w-auto min-w-[60px] min-h-[40px]" %>
      <% end %>
    </div>

    <!-- ナビゲーションリンク -->
    <div class="flex flex-1 justify-end items-center px-2 space-x-4">
      <%= link_to 'ホーム', '/', class: 'text-lg font-bold py-2 border-b-4 border-cyan-600 text-current' %>
      <%= link_to 'みんなのWave', '#', class: 'text-lg font-bold py-2 border-b-4 border-transparent hover:border-cyan-300 hover:text-current' %>

      <!-- ドロップダウンメニュー -->
      <div class="dropdown dropdown-end">
        <%= link_to '#', class: 'dropdown-toggle btn btn-ghost rounded-btn flex items-center', data: { toggle: "dropdown" } do %>
          <%= image_tag 'sample.jpg', class: 'rounded-full w-10 h-10 min-w-[40px] min-h-[40px]' %>
        <% end %>
        <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-100 rounded-box w-52 mt-4 text-lg">
          <li class="hover:bg-cyan-600 hover:text-white">
            <%= link_to 'ログイン', login_path, class: 'text-lg font-bold py-2' %>
          </li>
          <li class="hover:bg-cyan-600 hover:text-white">
            <%= link_to '新規登録', new_user_path, class: 'text-lg font-bold py-2' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
