<nav id="bottom-navbar" class="sm:hidden fixed bottom-0 left-0 z-10 w-full bg-white border-t transition-opacity duration-300 border-t-1 border-gray-200">
  <ul class="py-1 flex justify-around">
    <li class="flex-1 text-center">
      <%= link_to posts_path,
                  data: { turbo_frame: "_top" },
                  id: "bottom-navbar-home-link",
                  class: "block py-2 #{active_if(posts_path)}" do %>
        <i class="fa-solid fa-house text-2xl"></i>
      <% end %>
    </li>
    <li class="flex-1 text-center">
      <%= link_to profile_show_path(username_slug: current_user.username_slug),
                  data: { turbo_frame: "_top" },
                  id: "bottom-navbar-profile-link",
                  class: "block py-2 #{active_if(profile_show_path(username_slug: current_user.username_slug))}" do %>
        <i class="fas fa-user text-2xl"></i>
      <% end %>
    </li>
    <%= render partial: 'shared/notification_link', locals: { 
      link_id: "bottom-navbar-notifications-link", 
      link_class: "flex grid justify-items-stretch block py-2 #{active_if(notifications_path)}", 
      corresponding_link_id: "sidebar-notifications-link", 
      menu_class: "flex-1 text-center", 
      notification_position_class: "-top-[8px] -right-[6px]",
      show_text: false 
    } %>
    <li class="flex-1 text-center">
      <%= link_to profile_show_path(username_slug: current_user.username_slug, category: 'posts_to_you'),
                  data: { turbo_frame: "_top" },
                  id: "bottom-navbar-messages-link",
                  class: "block py-2 #{active_if(profile_show_path(username_slug: current_user.username_slug, category: 'posts_to_you'))}" do %>
        <i class="fa-regular fa-envelope text-2xl"></i>
      <% end %>
    </li>
    <li class="flex-1 text-center">
      <%= link_to edit_notification_settings_path,
                  data: { turbo_frame: "_top" },
                  id: "bottom-navbar-settings-link",
                  class: "block py-2 #{active_if(edit_notification_settings_path)}" do %>
        <i class="fas fa-cog text-2xl"></i>
      <% end %>
    </li>
  </ul>
</nav>

<!-- 投稿ボタン -->
<% if params[:controller] == "posts" && params[:action] == "show" %>
  <%= link_to new_reply_modal_path(username_slug: params[:username_slug], id: params[:id]),
              data: { turbo_frame: "_top" },
              id: "reply-button",
              class: "sm:hidden z-50 fixed text-2xl right-5 bottom-16 w-[56px] h-[56px] rounded-full bg-sky-400-accent flex items-center justify-center text-white shadow-lg" do %>
    <i class="fa-regular fa-comment text-2xl"></i>
  <% end %>
<% else %>
  <%= link_to new_post_path(privacy: 'open'),
              data: { turbo_frame: "_top" },
              class: "sm:hidden z-50 fixed text-2xl right-5 bottom-16 w-[56px] h-[56px] rounded-full bg-sky-400-accent flex items-center justify-center text-white shadow-lg",
              id: "post-button" do %>
    <i class="fa-solid fa-gift text-2xl"></i>
  <% end %>
<% end %>

<script>
  function handleNavbarOpacity() {
    var navbar = document.getElementById('bottom-navbar');
    var postButton = document.getElementById('post-button');
    var replyButton = document.getElementById('reply-button');
    var lastScrollTop = 0;

    window.addEventListener('scroll', function () {
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // スクロールダウン
        navbar.style.opacity = '0.5';
        if (postButton) postButton.style.opacity = '0.5';
        if (replyButton) replyButton.style.opacity = '0.5';
      } else {
        // スクロールアップ
        navbar.style.opacity = '1';
        if (postButton) postButton.style.opacity = '1';
        if (replyButton) replyButton.style.opacity = '1';
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
  }

  document.addEventListener('DOMContentLoaded', handleNavbarOpacity);
  document.addEventListener('turbo:load', handleNavbarOpacity);
</script>