<nav id="bottom-navbar" class="sm:hidden fixed bottom-0 left-0 z-10 w-full bg-white border-t transition-opacity duration-300 border-t-1 border-gray-200">
  <ul class="py-1 flex justify-around">
    <li class="flex-1 text-center">
      <%= link_to posts_path, id: "bottom-navbar-home-link", class: "block py-2 #{active_if(posts_path)}" do %>
        <i class="fa-solid fa-house text-2xl"></i>
      <% end %>
    </li>
    <li class="flex-1 text-center">
      <%= link_to profile_show_path(username_slug: current_user.username_slug), id: "bottom-navbar-profile-link", class: "block py-2 #{active_if(profile_show_path(username_slug: current_user.username_slug))}" do %>
        <i class="fas fa-user text-2xl"></i>
      <% end %>
    </li>
    <%= render partial: 'shared/notification_link', locals: { 
      link_id: "bottom-navbar-notifications-link", 
      link_class: "flex grid justify-items-stretch block py-2 #{active_if(notifications_path)}", 
      corresponding_link_id: "sidebar-notifications-link", 
      menu_class: "flex-1 text-center", 
      notification_position_class: "-top-[8px] -right-[6px]",
      show_text: false 
    } %>
    <li class="flex-1 text-center">
      <%= link_to profile_show_path(username_slug: current_user.username_slug, category: 'posts_to_you'), id: "bottom-navbar-messages-link", class: "block py-2 #{active_if(profile_show_path(username_slug: current_user.username_slug, category: 'posts_to_you'))}" do %>
        <i class="fa-regular fa-envelope text-2xl"></i>
      <% end %>
    </li>
    <li class="flex-1 text-center">
      <%= link_to edit_notification_settings_path, id: "bottom-navbar-settings-link", class: "block py-2 #{active_if(edit_notification_settings_path)}" do %>
        <i class="fas fa-cog text-2xl"></i>
      <% end %>
    </li>
  </ul>
</nav>
