<div class="navbar px-4">
  <div class="flex items-center justify-between w-full">
    <!-- ロゴ -->
    <div class="shrink-0">
      <%= link_to '/' do %>
        <%= image_tag 'logo.png', alt: 'ロゴ', class: "h-10 md:h-14 w-auto" %>
      <% end %>
    </div>

    <!-- ナビゲーションリンク -->
    <div class="flex flex-1 justify-end items-center space-x-4">
      <%= link_to 'ConGraWaとは', '/', class: 'hidden md:block text-md font-bold py-2 border-b-4 border-cyan-600 text-current' %>
      <%= link_to 'みんなのWave', '#', class: 'hidden md:block text-md font-bold py-2 border-b-4 border-transparent hover:border-cyan-300 hover:text-current' %>

      <!-- 投稿ボタン -->
      <%= render 'shared/post_form' %>

      <!-- ユーザーメニュー -->
      <div class="dropdown dropdown-end ml-4">
        <%= link_to "javascript:void(0)", class: 'btn btn-circle btn-ghost', "data-toggle" => "dropdown" do %>
          <%= image_tag 'sample.jpg', class: 'rounded-full w-10 h-10' %>
        <% end %>
        <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
          <!-- 小さな画面でのみ表示されるナビゲーションリンク -->
          <li class="block md:hidden">
            <%= link_to 'ConGraWaとは', '/', class: 'hover:bg-cyan-600 hover:text-white' %>
          </li>
          <li class="block md:hidden">
            <%= link_to 'みんなのWave', '#', class: 'hover:bg-cyan-600 hover:text-white' %>
          </li>
          <li>
            <%= link_to 'プロフィール', profile_path, class: 'hover:bg-cyan-600 hover:text-white' %>
          </li>
          <li>
            <%= link_to 'ログアウト', logout_path, method: :delete, data: { turbo_method: :delete }, class: 'hover:bg-cyan-600 hover:text-white' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
