<div id="after-header" class="navbar">
  <div class="flex items-center justify-between w-full">
    <!-- ロゴ -->
    <div class="hidden sm:block shrink-0 mx-5">
      <%= link_to profile_show_path(current_user.username_slug) do %>
        <%= image_tag 'logo1.webp', alt: 'ロゴ', class: "h-10 md:h-14 w-auto" %>
      <% end %>
    </div>
    <div class="sm:hidden mx-2">
      <%= link_to profile_show_path(current_user.username_slug) do %>
        <%= image_tag asset_path('sample.jpg'), alt: 'ロゴ', class: "rounded-full h-10 w-10" %>
      <% end %>
    </div>

    <!-- ユーザー数と投稿数の表示（デスクトップ） -->
    <div class="hidden lg-plus:flex mx-2 text-lg space-x-4">
      <span>ウェーブ登録数: <strong><%= format_count(@user_count) %></strong></span>
      <span>ウェーブ数: <strong><%= format_count(@post_count) %></strong></span>
    </div>

    <!-- ナビゲーションリンク（PC） -->
    <div class="hidden sm:flex flex-1 justify-end items-center space-x-4">
      <% if current_user.guest %>
        <%= link_to '引き継ぎ登録',
                    new_signup_modal_path,
                    class: 'btn btn-outline btn-accent flex text-lg rounded-full transition-colors duration-300 px-4 py-2',
                    data: { turbo_frame: "signup_modal" } %>
      <% end %>
      <!-- 投稿ボタン -->
      <%= link_to t('header.post_audio'),
                  new_post_path,
                  class: "hidden sm:flex font-bold text-xl btn btn-info rounded-full transition-colors duration-300 px-4 py-2",
                  data: { turbo_frame: "post_modal" } %>
      
      <!-- ユーザーメニュー -->
      <div class="dropdown dropdown-hover dropdown-end ml-2 shrink-0">
        <label tabindex="0" class="btn btn-ghost rounded-btn">
          <%= image_tag (current_user.avatar.presence || asset_path('sample.jpg')), class: "rounded-full h-10 w-10 min-w-[40px] md:h-12 md:w-12" %>
        </label>
        <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box" style="min-width: auto; max-width: 400px;">
          <li class="py-2">
            <%= link_to t('header.about'), root_path, class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4 #{active_if(root_path)}" %>
          </li>
          <li class="block py-2">
            <%= link_to 'プロフィール', profile_show_path(current_user.username_slug), class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4 #{active_if(profile_show_path(current_user.username_slug))}" %>
          </li>
          <li class="py-2">
            <%= link_to t('header.post_index'), posts_path, class: "text-lg md:text-lg py-2 px-4 hover:bg-sky-100 rounded-full transition-colors duration-300 #{active_if(posts_path)}" %>
          </li>
          <li class="block py-2">
            <%= link_to t('header.logout'), logout_path, method: :delete, data: { turbo_method: :delete }, class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4" %>
          </li>
          <li class="py-2 text-lg">
            <span class="whitespace-nowrap">ウェーブ登録数: <strong><%= format_count(@user_count) %></strong></span>
          </li>
          <li class="py-2 text-lg">
            <span class="whitespace-nowrap">ウェーブ数: <strong><%= format_count(@post_count) %></strong></span>
          </li>
        </ul>
      </div>
    </div>

    <!-- ナビゲーションリンク（スマホ） -->
    <div class="sm:hidden flex flex-1 justify-end items-center space-x-2">
      <% if current_user.guest %>
        <%= link_to '引き継ぎ登録',
                    new_signup_modal_path,
                    class: 'btn btn-outline btn-accent btn-sm rounded-full transition-colors duration-300',
                    data: { turbo_frame: "signup_modal" } %>
      <% end %>

      <!-- 投稿ボタン -->
      <%= link_to t('header.post_audio'),
                  new_post_path,
                  class: "font-bold btn btn-info btn-sm rounded-full transition-colors duration-300 py-2",
                  data: { turbo_frame: "post_modal" } %>

      <!-- ユーザーメニュー -->
      <div class="dropdown dropdown-hover dropdown-end shrink-0">
        <label tabindex="0" class="btn btn-ghost rounded-btn px-2">
          <%= image_tag (current_user.avatar.presence || asset_path('sample.jpg')), class: "rounded-full h-10 w-10 min-w-[35px]" %>
        </label>
        <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box" style="min-width: auto; max-width: 400px;">
          <li class="py-2">
            <%= link_to t('header.about'), root_path, class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4 #{active_if(root_path)}" %>
          </li>
          <li class="py-2">
            <%= link_to t('header.post_index'), posts_path, class: "block text-lg py-2 px-4 hover:bg-sky-100 rounded-full transition-colors duration-300 #{active_if(posts_path)}" %>
          </li>
          <li class="py-2">
            <%= link_to 'プロフィール', profile_show_path(current_user.username_slug), class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4 #{active_if(profile_show_path(current_user.username_slug))}" %>
          </li>
          <li class="py-2">
            <%= link_to 'ログアウト', logout_path, method: :delete, data: { turbo_method: :delete }, class: "text-lg hover:bg-sky-100 rounded-full transition-colors duration-300 px-4" %>
          </li>
          <li class="block py-2 text-lg">
            <span class="whitespace-nowrap">ウェーブ登録数: <strong><%= format_count(@user_count) %></strong></span>
          </li>
          <li class="block py-2 text-lg">
            <span class="whitespace-nowrap">ウェーブ数: <strong><%= format_count(@post_count) %></strong></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
