<div class="w-[350px] hidden lg:block overflow-y-auto">
  <div id="new-user-widget" class="<%= hide_widget_on_users_index %> border-2 rounded-lg my-4 shadow-lg">
    <h2 class="text-xl text-center font-bold pt-2 mb-4">未フォローのユーザー</h2>
    <div id="widget-users-list">
      <%= render partial: 'users/user', collection: users, as: :user %>
    </div>
    <div id="widget-load-more" class="mt-4 text-center">
      <%= link_to 'さらに表示', users_path, data: { turbo_frame: "advance" }, class: "btn-load-more" %>
    </div>
  </div>

  <!-- PC画面での投稿ボタン -->
  <div class="fixed pl-[100px] bottom-24">
    <% if params[:controller] == "posts" && params[:action] == "show" %>
      <%= link_to new_reply_modal_path(username_slug: params[:username_slug], id: params[:id]),
                  id: "pc-reply-button",
                  class: "z-50 text-5xl w-[150px] h-[150px] rounded-full bg-sky-400-accent flex items-center justify-center text-white shadow-lg",
                  data: { turbo_frame: "reply_modal" } do %>
        <i class="fa-regular fa-comment text-6xl"></i>
      <% end %>
    <% else %>
      <%= link_to new_post_path(privacy: 'open'),
                  id: "pc-post-button",
                  class: "z-50 text-5xl w-[150px] h-[150px] rounded-full bg-sky-400-accent flex items-center justify-center text-white shadow-lg hover:bg-sky-500",
                  data: { turbo_frame: "post_modal" } do %>
        <i class="fa-solid fa-gift text-6xl"></i>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function handleWidgetOpacity() {
    var pcPostButton = document.getElementById('pc-post-button');
    var pcReplyButton = document.getElementById('pc-reply-button');
    var lastScrollTop = 0;

    window.addEventListener('scroll', function () {
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // スクロールダウン
        if (pcPostButton) pcPostButton.style.opacity = '0.5';
        if (pcReplyButton) pcReplyButton.style.opacity = '0.5';
      } else {
        // スクロールアップ
        if (pcPostButton) pcPostButton.style.opacity = '1';
        if (pcReplyButton) pcReplyButton.style.opacity = '1';
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
  }

  document.addEventListener('DOMContentLoaded', handleWidgetOpacity);
  document.addEventListener('turbo:load', handleWidgetOpacity);
</script>
