<div class="px-[20px] w-[350px] hidden lg:block overflow-y-auto">
  <div id="new-user-widget" class="<%= hide_widget_on_users_index %> border rounded-2xl my-4">
    <h2 class="text-xl text-center font-bold px-[16px] py-[12px]">未フォローのユーザー</h2>
    <div id="widget-users-list">
      <%= render partial: 'users/user', collection: users, as: :user, locals: { location: :widget } %>
    </div>
    <div id="widget-load-more" class="text-center">
      <%= link_to 'さらに表示', users_path, data: { turbo_frame: "_top" }, class: "text-[#1D9BF0] text-[15px] py-4 px-2 block hover:bg-gray-200 hover:underline focus:outline-none focus:ring-2 focus:ring-[#1D9BF0]" %>
    </div>
  </div>

  <!-- PC画面での投稿ボタン -->
  <div class="fixed pl-[100px] bottom-10">
    <% if params[:controller] == "posts" && params[:action] == "show" %>
      <%= link_to new_reply_modal_path(username_slug: params[:username_slug], id: params[:id]),
                  id: "pc-reply-button",
                  class: "z-50 text-5xl w-[150px] h-[150px] rounded-full bg-sky-400 flex items-center justify-center text-white shadow-lg opacity-90 transition-opacity duration-300 hover:opacity-100",
                  data: { turbo_frame: "reply_modal" } do %>
        <i class="fa-regular fa-comment text-6xl"></i>
      <% end %>
    <% else %>
      <%= link_to new_post_path(privacy: 'open'),
                  id: "pc-post-button",
                  class: "z-50 text-5xl w-[150px] h-[150px] rounded-full bg-sky-400 flex items-center justify-center text-white shadow-lg opacity-90 transition-opacity duration-300 hover:bg-sky-500 hover:opacity-100",
                  data: { turbo_frame: "post_modal" } do %>
        <i class="fa-solid fa-gift text-6xl"></i>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function handleWidgetOpacity() {
    var pcPostButton = document.getElementById('pc-post-button');
    var pcReplyButton = document.getElementById('pc-reply-button');
    var lastScrollTop = 0;

    window.addEventListener('scroll', function () {
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > lastScrollTop) {
        // スクロールダウン
        if (pcPostButton) pcPostButton.style.opacity = '0.5';
        if (pcReplyButton) pcReplyButton.style.opacity = '0.5';
      } else {
        // スクロールアップ
        if (pcPostButton) pcPostButton.style.opacity = '1';
        if (pcReplyButton) pcReplyButton.style.opacity = '1';
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
    });
  }

  document.addEventListener('DOMContentLoaded', handleWidgetOpacity);
  document.addEventListener('turbo:load', handleWidgetOpacity);
</script>
