<turbo-frame id="main-content">
<div class="flex justify-center min-h-screen">
  <div class="max-w-[670px] w-full bg-white border border-gray-200">
    <div class="mt-2 flex flex mx-auto justify-between bg-white px-[16px] h-[53px]">
      <!-- 戻るボタン -->
      <%= render 'shared/back_button' %>
      <div class="flex justify-center items-center flex-grow">
        <h1 class="text-center font-bold text-xl mt-2"><%= user.display_name %></h1>
      </div>
      <div class="invisible w-[56px] h-[53px]">ダミー</div>
    </div>
    <div class="c-tabs flex mb-2">
      <%= link_to user_following_path(user.username_slug, category: 'following'), data: { turbo_frame: "_top", turbo_action: :advance }, class: "c-tab flex-1 #{active_tab_class('following', initial_category: 'following')} hover:bg-sky-100 text-center py-2" do %>
        フォロー中
      <% end %>
      <%= link_to user_followers_path(user.username_slug, category: 'followers'), data: { turbo_frame: "_top", turbo_action: :advance }, class: "c-tab flex-1 #{active_tab_class('followers', initial_category: 'followers')} hover:bg-sky-100 text-center py-2" do %>
        フォロワー
      <% end %>
    </div>

    <% if users.present? %>
      <%= turbo_frame_tag "next-page" do %>
        <% users.each do |user| %>
          <%= render partial: 'users/user', locals: { user: user } %>
        <% end %>
        <% if pagy.next %>
          <%= render 'shared/next_page' %>
        <% end %>
      <% end %>
    <% else %>
      <div class="mb-3 text-center">
        <% if category == 'followers' %>
          フォロワーはまだいません。
        <% else %>
          フォロー中のユーザーがまだいません。
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</turbo-frame>