<div class="flex justify-center min-h-screen">
  <div class="max-w-xl w-full bg-white border-2 border-gray-200">
    <h1 class="text-center font-bold text-xl mt-2"><%= @user.display_name %></h1>
    <p class="text-center text-sm">@<%= @user.username_slug %></p>
    <div class="c-tabs mt-4 mb-2">
      <%= link_to followings_user_friendships_path(@user), data: { turbo_frame: "_top" }, class: "c-tab #{active_tab_class('followings', initial_category: 'followings')} hover:bg-sky-100" do %>
        フォロー中
      <% end %>
      <%= link_to followers_user_friendships_path(@user), data: { turbo_frame: "_top" }, class: "c-tab #{active_tab_class('followers', initial_category: 'followings')} hover:bg-sky-100" do %>
        フォロワー
      <% end %>
    </div>

    <% if @users.present? %>
      <%= turbo_frame_tag "next-page" do %>
        <% @users.each do |user| %>
          <%= render partial: 'users/user', locals: { user: user } %>
        <% end %>
        <% if @pagy.next %>
          <%= render 'shared/next_page' %>
        <% end %>
      <% end %>
    <% else %>
      <div class="mb-3">
        <% if @category == 'followers' %>
          フォロワーはまだいません。
        <% else %>
          フォロー中のユーザーがまだいません。
        <% end %>
      </div>
    <% end %>
  </div>
</div>
