<%= turbo_frame_tag "post-#{post.id}-bookmark" do %>
  <div class="flex items-center">
    <% if logged_in? %>
      <% if current_user.bookmarked?(post) %>
        <% bookmark = current_user.bookmarks.find_by(post: post) %>
        <%= link_to post_bookmark_path(post.id, bookmark.id), method: :delete, data: { turbo_method: :delete }, id: "post-#{post.id}-bookmark-button" do %>
          <i class="fas fa-bookmark text-xl text-yellow-700-accent hover:text-yellow-900"></i>
        <% end %>
      <% else %>
        <%= link_to post_bookmarks_path(post.id), method: :post, data: { turbo_method: :post }, id: "post-#{post.id}-bookmark-button" do %>
          <i class="fas fa-bookmark text-xl text-gray-500 hover:text-yellow-700-accent"></i>
        <% end %>
      <% end %>
      <% if current_user.id == post.user_id %>
        <% bookmark_count = post.bookmarks.where.not(user_id: post.user_id).count %>
        <% if bookmark_count > 0 %>
          <span class="ml-2 text-lg text-gray-500"><%= bookmark_count %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_signup_modal_path, data: { turbo_frame: "signup_modal" }, class: "text-gray-500 hover:text-yellow-700-accent" do %>
        <i class="fas fa-bookmark text-xl"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
