<div class="card-body p-2">
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-control pt-2">
    <%= f.label :body, is_reply_form ? '返信内容' : '投稿内容', class: "block text-lg font-semibold", for: "body" %>
    <%= f.text_area :body, id: 'body', class: "block mt-1 p-2 text-sm sm:text-lg border-2 border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-sky-500 resize-none overflow-y-auto", rows: "3" %>
  </div>




  <section class="sound-clips">
    <!-- 音声クリップはここに表示 -->
  </section>

  <%= f.file_field :audio, direct_upload: true, class: "hidden" %>
  <%= f.hidden_field :duration, class: "duration-field" %>

  <!-- 送信先設定 -->
  <%= render 'posts/privacy_settings', is_reply_form: is_reply_form, send_to_user: send_to_user, post: post %>
</div>
