<turbo-frame id="main-content" data-controller="post-index">
  <%= turbo_frame_tag 'post_edit_modal' %>
  <%= turbo_frame_tag 'reply_modal' %>

  <div class="flex justify-center min-h-screen">
    <div class="max-w-[670px] w-full bg-white border-x">
      <% unless logged_in? %>
        <div class="flex justify-center my-4">
          <%= link_to 'このアプリについて', root_path, data: { turbo_frame: "_top", turbo_action: :advance }, class: 'btn btn-outline btn-info btn-base sm:btn-lg rounded-full transition-colors duration-300' %>
        </div>
      <% end %>

      <!-- 検索フォーム -->
      <div class="hidden px-2 mx-auto">
        <form class="mb-3">
          <div class="flex">
            <input class="w-full px-4 py-2 mr-2 text-gray-700 bg-gray-200 rounded-lg focus:outline-none focus:bg-white" type="search" placeholder="検索ワード">
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">検索</button>
          </div>
        </form>
      </div>

      <!-- タブメニュー -->
      <%= render 'posts/index/category_tabs' %>
      <%= turbo_frame_tag "open-posts" do %>
        <!-- 投稿一覧 -->
        <%= render 'posts/posts_list', posts: posts, pagy: pagy, notifications: notifications %>
      <% end %>
    </div>
  </div>
</turbo-frame>
