<%= render 'posts/shared/avatar', post: post %>
<div class="flex-grow">
  <%= render 'posts/shared/user_info', post: post %>
  <%= render 'posts/shared/body', post: post %>
  <%= render 'posts/shared/audio_player', post: post %>
  <%= render 'posts/shared/footer', post: post %>
</div>
