<%= turbo_frame_tag dom_id(post) do %>
  <div data-controller="audio" id="post-id-<%= post.id %>"
       class="bg-white rounded-lg flex hover:bg-gray-100 shadow-lg overflow-hidden border-b my-4 p-[8px]">
    <!-- 1列目: アバター -->
    <div class="flex flex-col items-center justify-between min-w-[10px] md:w-[15%] flex-shrink-0 relative">
      <!-- アバター -->
      <%= link_to profile_show_path(username_slug: post.user.username_slug), data: { turbo_frame: "_top" } do %>
        <%= image_tag(post.user.avatar.presence || asset_path('wave_sm_c.svg'), alt: "プロフィール画像", class: "rounded-full h-10 w-10 md:h-14 md:w-14") %>
      <% end %>
      <div id="post-<%= post.id %>-reply-line">
        <% if post.replies.any? && @show_reply_line %>
          <div class="absolute left-1/2 transform -translate-x-1/2 top-[calc(3rem)] md:top-[calc(4.5rem)] bottom-0 w-0.5 bg-blue-500"></div>
        <% end %>
      </div>
    </div>
    <!-- 2列目: ユーザー情報、投稿、応援、シェア -->
    <div class="pl-2 flex-grow" style="max-width: calc(100% - 15%);">
      <div class="flex justify-between items-center mb-2">
        <div class="overflow-x-auto whitespace-nowrap" style="max-width:80%;">
          <div class="dropdown dropdown-hover">
            <%= link_to profile_modal_path(username_slug: post.user.username_slug), class: "text-lg font-semibold text-black hover:underline", data: { turbo_frame: "profile_modal" } do %>
              <%= post.user.display_name %>
            <% end %>
          </div>
          <br>
          <span class="text-sm text-gray-500">@<%= post.user.username_slug %></span>
          <span class="text-sm text-gray-500">･<%= l post.created_at, format: :long %></span>
          <% if post.direct_recipients.any? %>
            <div class="text-sm text-gray-500">
              <span>宛先:</span>
              <% post.direct_recipients.each do |recipient| %>
                <%= link_to profile_modal_path(username_slug: recipient.username_slug),
                            class: "text-blue-500 font-semibold hover:underline",
                            data: { turbo_frame: "profile_modal" } do %>
                  <%= recipient.display_name %><span class="font-normal">さん</span>
                <% end %>
                <% unless recipient == post.direct_recipients.last %>、<% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <% if current_user.own?(post) %>
          <div class="flex sm:flex-wrap space-x-3 sm:space-x-0 sm:flex-col sm:space-y-2 p-2">
            <%= link_to edit_post_path(post), id: "button-edit-#{post.id}", class: "text-blue-500 hover:text-blue-700", data: { turbo_frame: "post_edit_modal" } do %>
              <i class="fas fa-pencil-alt text-lg"></i>
              <span class="hidden sm:inline">編集</span>
            <% end %>
            <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "text-red-500 hover:text-red-700" do %>
              <i class="fas fa-trash-alt"></i>
              <span class="hidden sm:inline">削除</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- 返信先の表示 -->
      <% if post.parent_post.present? %>
        <div class="text-sm text-gray-500 mb-2">
          返信先: 
          <% post.ancestors.map(&:user).uniq.each do |user| %>
            <%= link_to profile_modal_path(username_slug: user.username_slug),
                        class: "text-blue-500 font-semibold hover:underline",
                        data: { turbo_frame: "profile_modal" } do %>
              <%= user.display_name %><span class="font-normal">さん</span>
            <% end %>
            <% unless user == post.ancestors.map(&:user).uniq.last %>、<% end %>
          <% end %>
        </div>
      <% end %>
      <!-- 投稿内容とオーディオプレイヤー -->
      <div<% if post.audio.attached? %> data-action="mouseover->audio#hoverEffect mouseout->audio#unhoverEffect" data-audio-id="<%= post.id %>"<% end %>>
        <div class="cursor-pointer text-base sm:text-lg overflow-y-auto max-h-[calc(1.5rem*10)] md:max-h-[calc(1.5rem*15)] whitespace-normal break-words break-all"
             data-action="click->audio#playPause"
             data-audio-id="<%= post.audio.attached? ? post.id : "no-audio-#{post.id}" %>">
          <% post.body.split(/\r\n|\r|\n/).each do |line| %>
            <% if line.empty? %>
              <div class="text-xxs sm:text-xs">
                <br>
              </div>
            <% else %>
              <div class="text-base sm:text-lg">
                <%= line %><br>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- オーディオプレイヤー -->
      <div class="mt-2 mr-5">
        <% if post.audio.attached? %>
          <audio id="audio-<%= post.id %>" preload="metadata">
            <source src="<%= url_for(post.audio) %>" type="<%= post.audio.content_type %>">
            お使いのブラウザはオーディオプレイヤーをサポートしていません。
          </audio>
          <input type="range" min="0" max="<%= post.duration %>" value="0" step="1" class="range range-info range-sm md:range-md" data-action="input->audio#seek" data-audio-id="<%= post.id %>">
          <div class="flex justify-between">
            <div id="current-time-<%= post.id %>">00:00</div>
            <div>
              <% duration_minutes = post.duration / 60 %>
              <% duration_seconds = post.duration % 60 %>
              <%= format('%02d:%02d', duration_minutes, duration_seconds) %>
            </div>
          </div>
          <div class="cursor-pointer text-center text-blue-500 hover:text-sky-400"
               data-audio-target="playButton"
               data-action="click->audio#playPause" data-audio-id="<%= post.id %>">
            <button class="mt-2 play-audio-button transition duration-300 ease-in-out transform hover:scale-110">
              <i id="audio-icon-<%= post.id %>" class="fas fa-play audio-icon text-3xl md:text-4xl"></i>
            </button>
          </div>
        <% end %>
      </div>
      <!-- 詳細リンク -->
      <div class="flex justify-end">
        <%= link_to '詳細を見る', user_post_path(username_slug: post.user.username_slug, id: post.id), data: { turbo_frame: "_top" }, class: "text-md md:text-lg my-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
      </div>
      <!-- 返信、リツイート、応援、シェア -->
      <div class="flex justify-between items-center">
        <div id="post-<%= post.id %>-reply-icon">
          <%= render 'posts/reply_icon', post: post %>
        </div>
        <div>
          <%= link_to "#", id: "#" do %>
            <i class="fa-solid fa-retweet text-lg text-gray-500 hover:text-blue-700"></i>
            未
          <% end %>
        </div>
        <div>
          <%= turbo_frame_tag "post-#{post.id}-like" do %>
            <%= render 'posts/like', post: post %>
          <% end %>
        </div>
        <div id="post-<%= post.id %>-bookmark">
          <%= render 'posts/bookmark', post: post %>
        </div>
        <div>
          <%= link_to "#", id: "#" do %>
            <i class="fa-brands fa-x-twitter text-lg text-black-500 hover:text-black-700"></i>
            未
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
