<%= turbo_frame_tag 'profile_modal' %>
<%= turbo_frame_tag "post_show" do %>
  <div class="container pt-3">
    <div class="px-2 mx-auto">
      <div class="grid grid-cols-1 gap-4">
        <% if @post.parent_post.present? %>
          <%= render 'posts/post_content', post: @post.parent_post, reply: false %>
        <% elsif @post.post_reply_id.present? %>
          <div class="text-sm text-gray-500 mb-2">
            親の投稿が削除されました。
          </div>
        <% end %>
        <%= render 'posts/post_content', post: @post, reply: false %>
        <!-- 送信先の表示 -->
        <div class="text-sm text-gray-500 mb-2">
          送信先: 
          <%= link_to "@#{@send_to_user.username_slug}さん", profile_modal_path(username_slug: @send_to_user.username_slug),
              class: "text-blue-500 hover:text-blue-700",
              data: { turbo_frame: "profile_modal" } %>
        </div>
        <%= render 'replies/form', post: @post, reply: @reply %>
        <div id="replies" class="mt-4">
          <% @replies.each do |reply| %>
            <%= render 'posts/post', post: reply %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
