<%= turbo_frame_tag 'profile_modal' %>
<%= turbo_frame_tag 'post_edit_modal' %>
<%= turbo_frame_tag "post_show" do %>
  <div class="container pt-3">
    <div class="px-2 mx-auto">
      <div class="grid grid-cols-1 gap-4">
        <% if @post.parent_post.present? %>
          <%= render 'posts/post_content', post: @post.parent_post, reply: false %>
        <% elsif @post.post_reply_id.present? %>
          <div class="text-sm text-gray-500 mb-2">
            親の投稿が削除されました。
          </div>
        <% end %>
        <%= render 'posts/post_content', post: @post, reply: false %>
        <!-- 送信先の表示 -->
        <div class="text-sm text-gray-500 mb-2">
          <% unless @send_to_user.present? %>
            <span>送信先の投稿が削除されました。</span>
          <% end %>
        </div>
        <%= render 'replies/form', post: @post, reply: @reply, send_to_user: @send_to_user %>
        <div id="replies" class="mt-4">
          <% @replies.each do |reply| %>
            <%= render 'posts/post', post: reply %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>