<%= turbo_frame_tag "post_modal" do %>
  <dialog id="post_modal_dialog" class="modal bg-gray-500 bg-opacity-50"  data-controller="post-modal">
    <div class="modal-box p-4">
      <div class="flex justify-end items-center">
        <button class="text-blue-500 hover:text-blue-700 font-semibold" data-action="click->post-modal#closeModal">閉じる</button>
      </div>

        <div class="card-body mx-auto">
          <!-- 録音コントロール -->
          <section>
            <canvas class="visualizer w-full h-24 md:h-80" style="background-color: #05aaff;"></canvas>
          </section>

          <div class="flex justify-around items-center">
            <button class="record bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded disabled:opacity-50" data-action="click->post-modal#startRecording">
              録音<br class="md:hidden">開始
            </button>
            <span class="timer text-gray-800 font-semibold sm:text-lg md:text-lg lg:text-xl">00:00</span>
            <button class="stop bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded disabled:opacity-50" data-action="click->post-modal#stopRecording" disabled>
              録音<br class="md:hidden">完了
            </button>
          </div>

          <%= form_with model: @post,
                        data: { controller: "post-modal", 
                        action: "turbo:submit-end->post-modal#afterClose" } do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-control">
              <%= f.label :body, class: "block text-lg font-semibold" %>
              <%= f.text_area :body, class: "block w-full mt-1 p-2 text-lg border-2 border-gray-300 rounded-lg focus:outline-none focus:border-blue-500 resize-y", rows: "3", style: "resize: vertical;" %>

              <script>
                document.addEventListener('input', function (event) {
                  if (event.target.tagName.toLowerCase() !== 'textarea') return;
                  event.target.style.height = 'auto';
                  event.target.style.height = (event.target.scrollHeight) + 'px';
                });
              </script>
            </div>

            <section class="sound-clips">
              <!-- 音声クリップはここに表示 -->
            </section>

            <%= f.file_field :audio, direct_upload: true, class: "hidden" %>

            <div class="form-control mt-4 lg:mt-6">
              <%= f.submit t('helpers.submit.post'), class: "btn bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded disabled:opacity-50" %>
            </div>
          <% end %>
        </div>

      <!-- モーダルを閉じるボタン -->
      <div class="modal-action mt-4 flex justify-center">
        <button class="btn bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded" data-action="click->post-modal#closeModal">閉じる</button>
      </div>
    </div>
  </dialog>
<% end %>
