<div id="post-category-tabs-wrapper" class="sticky top-0 z-10 bg-white border-b">
  <div id="post-category-tabs" class="flex justify-center items-center">
    <!-- タブのリンク -->
    <div id="post-category-tabs-container" class="c-tabs flex overflow-x-auto whitespace-nowrap pb-2 relative" >
      <button type="button" id="tab-recommended" class="c-post-tab hover:bg-sky-100 text-center py-2 #{'active' if current_category == 'recommended'}" data-action="click->post-index#switchCategory" data-category="recommended">
        <i class="fa fa-star text-yellow-400-accent mr-1 sm:mr-2"></i><span>おすすめ</span>
      </button>
      <% Post.fixed_categories.keys.each do |category| %>
        <button type="button" id="tab-<%= category %>" class="c-post-tab hover:bg-sky-100 text-center py-2 #{'active' if current_category == category}" data-action="click->post-index#switchCategory" data-category="<%= category %>">
          <i class="fa <%= category_icon(category) %> mr-1 sm:mr-2"></i><span><%= category_name(category) %></span>
        </button>
      <% end %>
      <!-- タブの後ろに追加の空白を挿入 -->
      <div class="w-[190px] flex-shrink-0 flex justify-center items-center">
        <%= link_to "気軽にウェーブ！", new_post_path(privacy: 'only_me'), data: { turbo_frame: "_top" }, class: "w-[150px] text-white font-bold btn btn-info flex rounded-full btn-sm text-sm bg-opacity-80" %>
      </div>
    </div>
  </div>
</div>
