<div id="post-category-tabs-wrapper">
  <div id="post-category-tabs" class="z-10">
    <div id="post-category-tabs-container" class="c-tabs flex overflow-x-auto whitespace-nowrap pb-2" data-controller="post-index">
      <div class="flex items-center pl-2">
        <button id="back-button" class="rounded-full w-[34px] h-[34px] text-center hover:bg-sky-100" onclick="window.history.back()">
          <i class="fas fa-arrow-left w-[20px] h-[20px]"></i>
        </button>
      </div>
      <%= link_to posts_path(category: 'recommended'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab #{('active' if params[:category].nil?) } hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-star text-yellow-700-accent mr-1 sm:mr-2"></i><span>おすすめ</span>
      <% end %>
      <%= link_to posts_path(category: 'music'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-music text-blue-500 mr-1 sm:mr-2"></i><span>音楽</span>
      <% end %>
      <%= link_to posts_path(category: 'app_review'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-star-half-alt text-green-500 mr-1 sm:mr-2"></i><span>アプリレビュー</span>
      <% end %>
      <%= link_to posts_path(category: 'tech'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa-solid fa-lightbulb text-yellow-700-accent mr-1 sm:mr-2"></i><span>技術</span>
      <% end %>
      <%= link_to posts_path(category: 'child'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-smile-o text-pink-400 mr-1 sm:mr-2"></i><span>子供の声</span>
      <% end %>
      <%= link_to posts_path(category: 'favorite'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-heart text-red-500 mr-1 sm:mr-2"></i><span>好きなこと</span>
      <% end %>
      <%= link_to posts_path(category: 'grateful'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa-solid fa-hands-praying text-purple-400 mr-1 sm:mr-2"></i><span>感謝</span>
      <% end %>
      <%= link_to posts_path(category: 'blessing'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-hand-sparkles text-yellow-700-accent mr-1 sm:mr-2"></i><span>祝福</span>
      <% end %>
      <%= link_to posts_path(category: 'other'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-ellipsis-h text-gray-500 mr-1 sm:mr-2"></i><span>その他</span>
      <% end %>
      <%= link_to posts_path(category: 'monologue'), data: { turbo_frame: "open-posts", action: "click->post-index#saveTabState", post_index_target: "tab" }, class: "c-post-tab hover:bg-sky-100 text-center py-2" do %>
        <i class="fa fa-comment-dots text-teal-500 mr-1 sm:mr-2"></i><span>ひとりごと</span>
      <% end %>
    </div>
  </div>
</div>
