<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <title><%= page_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-10YY0QQ95M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    // G-10YY0QQ95M のトラッキング (新しいプロパティ)
    gtag('config', 'G-10YY0QQ95M');
  </script>

  <!-- JavaScriptの設定 -->
  <%= javascript_importmap_tags %>
  <script src="https://kit.fontawesome.com/630314d173.js" crossorigin="anonymous"></script>

  <!-- スタイルシートのリンク -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- Turboフレームタグ -->
  <%= turbo_frame_tag 'signup_modal' %>
  <%= turbo_frame_tag 'tou_modal' %>
  <%= turbo_frame_tag 'privacy_modal' %>
  <%= turbo_frame_tag 'post_modal' %>

  <!-- Favicon for legacy browsers -->
  <link rel="icon" href="/favicon.ico" sizes="32x32">

  <!-- SVG icon for modern browsers with light/dark mode support -->
  <link rel="icon" href="/icon.svg" type="image/svg+xml">

  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <!-- Android Touch Icon -->
  <link rel="icon" sizes="192x192" href="/icon-192.png">
  <link rel="icon" sizes="512x512" href="/icon-512.png">

  <!-- manifestファイル -->
  <link rel="manifest" href="/manifest.webmanifest">

  <%= show_meta_tags %>
</head>

<body class="font-sans bg-white flex flex-col min-h-screen">

  <!-- ヘッダー -->
  <% if logged_in? %>
    <header class="sm:sticky sm:top-0 z-10 bg-white w-full shadow max-w-screen-xl mx-auto">
        <%= render 'shared/header' %>
    </header>
  <% else %>
    <header class="sticky top-0 z-10 bg-white w-full shadow max-w-screen-xl mx-auto">
      <div id="before_login_header">
        <%= render 'shared/before_login_header' %>
      </div>
    </header>
  <% end %>

  <!-- コンテンツコンテナ -->
  <div class="flex-1 flex flex-col md:flex-row max-w-screen-xl mx-auto w-full">
    <!-- サイドバー -->
    <% if logged_in? %>
      <%= render 'shared/sidebar' %>
    <% else %>
      <div id="no-sidebar"></div>
    <% end %>

    <!-- メインコンテンツ -->
    <main class="flex-1">
      <%= render 'shared/flash_message' %>
      <div id="before_profile_edit_flash">
        <%= render 'shared/before_profile_edit_flash' %>
      </div>
      <%= yield %>
    </main>

    <!-- ウィジェット -->
    <% if logged_in? %>
      <%= render 'shared/widget', users: @recent_users %>
    <% else %>
      <div id="no-widget"></div>
    <% end %>
  </div>

  <!-- スマホ用ボトムメニューバー -->
  <%= render 'shared/bottom_navbar' if logged_in? %>

  <!-- フッター -->
  <%= render 'shared/footer' %>

</body>
</html>
