<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' %>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-white">
  <!-- ヘッダー -->
  <header class="sticky top-0 z-30 bg-white w-full shadow lg:max-w-screen-xl lg:mx-auto">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
  </header>

  <!-- コンテンツコンテナ -->
  <div class="flex flex-col lg:flex-row h-screen max-w-screen-xl mx-auto overflow-hidden">
    <!-- サイドバー -->
    <aside class="bg-gradient-to-br from-blue-500 to-blue-900 p-5 w-64 hidden lg:block sticky top-0 h-screen overflow-y-auto">
      <% if logged_in? %>
        <%= render 'shared/sidebar' %>
      <% end %>
    </aside>

    <!-- メインコンテンツ -->
    <main class="flex-1 p-2 overflow-auto">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>

    <!-- ウィジェット -->
    <div class="w-64 p-4 hidden lg:block overflow-y-auto">
      <% if logged_in? %>
        <%= render 'shared/widget' %>
      <% end %>
    </div>
  </div>

  <!-- フッター -->
  <footer class="w-full bg-gray-200 mt-auto">
    <%= render 'shared/footer' %>
  </footer>
</body>
</html>
