<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= page_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://kit.fontawesome.com/630314d173.js" crossorigin="anonymous"></script>
  <%= turbo_frame_tag 'signup_modal' %>
  <%= turbo_frame_tag 'login_modal' %>
  <%= turbo_frame_tag 'post_modal' %>
</head>
<body class="font-sans bg-white">

  <!-- ヘッダー -->
  <header class="sticky top-0 z-30 bg-white w-full shadow md:max-w-screen-xl md:mx-auto">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <div id="before_login_header">
      <%= render 'shared/before_login_header' %>
      </div>
    <% end %>
  </header>

  <!-- コンテンツコンテナ -->
  <div class="flex flex-col md:flex-row h-screen max-w-screen-xl mx-auto overflow-hidden">
    <!-- サイドバー -->
    <% if logged_in? %>
      <%= render 'shared/sidebar' %>
      <% else %>
        <div id="sidebar">
        </div>
    <% end %>

    <!-- メインコンテンツ -->
    <main class="flex-1 overflow-auto">
      <turbo-frame id="notification" >
        <%= render 'shared/flash_message' %>
      </turbo-frame>
      <%= yield %>
    </main>

    <!-- ウィジェット -->
    <% if logged_in? %>
        <%= render 'shared/widget' %>
    <% else %>
      <div id="widget">
      </div>
    <% end %>
  </div>

  <!-- フッター -->
  <footer class="bg-gray-200 w-full md:max-w-screen-xl md:mx-auto mt-auto">
    <%= render 'shared/footer' %>
  </footer>
</body>
</html>
