<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= page_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- JavaScriptの設定 -->
  <%= javascript_importmap_tags %>
  <script src="https://kit.fontawesome.com/630314d173.js" crossorigin="anonymous"></script>

  <!-- スタイルシートのリンク -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body class="font-sans bg-white flex flex-col min-h-screen">
  <!-- ヘッダー -->
  <header class="sticky top-0 z-50 bg-white w-full shadow max-w-screen-xl mx-auto">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <div id="before_login_header">
        <%= render 'shared/before_login_header' %>
      </div>
    <% end %>
  </header>

  <!-- コンテンツコンテナ -->
  <div class="flex-1 flex flex-col md:flex-row max-w-screen-xl mx-auto w-full">
    <!-- サイドバー -->
    <% if logged_in? %>
        <%= render 'shared/sidebar' %>
    <% else %>
      <div id="no-sidebar">
      </div>
    <% end %>

    <!-- メインコンテンツ -->
    <main class="flex-1 p-4">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </main>

    <!-- ウィジェット -->
    <% if logged_in? %>
        <%= render 'shared/widget' %>
    <% else %>
      <div id="widget">
      </div>
    <% end %>
  </div>

  <!-- フッター -->
  <footer class="bg-gray-100 text-center p-4 w-full">
    <div class="flex justify-center items-center text-xs mb-2">
      <%= link_to '利用規約', terms_of_use_path, class: "mx-2 sm:mx-4 hover:text-blue-500" %>
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "mx-2 sm:mx-4 hover:text-blue-500" %>
      <%= link_to 'お問合せ', '#', class: "mx-2 sm:mx-4 hover:text-blue-500" %>
    </div>
    <p class="text-gray-600">© 2024 ConGraWa</p>
  </footer>
</body>
</html>
